<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/src/assets/img/favicon.ico' %}">

    <!-- Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/glightbox.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap"
          rel="stylesheet">

    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static '/src/assets/css/vendor/bootstrap.min.css' %}">

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static '/src/assets/css/style.css' %}">
    <title></title>
<!-- Ulkit -->
<link rel="stylesheet" href="{% static '/src/assets/css/uikit.min.css' %}"  />


</head>
<body>

<div class="body__wrapper">
    <header>{% include "header.html" %}</header>
    <main class="main__content_wrapper" style="background:#E5E5E5;">

        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container">
                <div class="breadcrumb__content text-center">
                    <ul class="breadcrumb__content--menu d-flex">
                        <li class="breadcrumb__content--menu__items">
                            <a href="">Главная</a>
                        </li>
                        <li class="breadcrumb__content--menu__items">
                            <a href="">О компании</a>
                        </li>

                    </ul>
                </div>
<div> 
    <div class="about_company_brend_buttons">
        <div uk-slider>

            <div class="adaptive-slider-container">
                <div class="adaptive-slider" style="display:flex;">
                  <img class="adaptive-slide" src="path/to/image1.jpg" alt="Image 1">
                  <img class="adaptive-slide" src="path/to/image2.jpg" alt="Image 2">
                  <img class="adaptive-slide" src="path/to/image3.jpg" alt="Image 3">
                  <img class="adaptive-slide" src="path/to/image4.jpg" alt="Image 4">
                  <img class="adaptive-slide" src="path/to/image3.jpg" alt="Image 3">
                  <img class="adaptive-slide" src="path/to/image4.jpg" alt="Image 4">
                </div>
              </div>
       </div> 

    
      <div class="about_company_sensor_slider" uk-slider>

      </div>
     
</section>
<section>
    <div class="container">
        <h2 class="about_company_Heading"style="">О компании MikC</h2>
        <div class="about_company_content" style=" ">
            <div class="comparison_lists  row  ">
                <div class="col-lg-7">
                <div class="block_about_company" style="    ">
                    <div class="img_ab_block" style="display: flex;   ">
                        <div  class="about_company_img_block">
                            <img class="about_company_img" src="{% static '/src/assets/img/icon/Group 29.png' %}" alt="Image">
                        </div>
                        <div style="margin-left: 20px;    ">
                            <h2 class="h3">MikC - это <span style="color:red;">производитель</span> лакокрасочной продукции, автохимии и автокосметики под брендами MIXON,DOMEX,MVL</h2>
                        </div>
                    </div>
                    <div>Благодаря этому мы можем:
                        <ul>
                            <li>Создавать лимитированные партии под спец-заказы</li>
                            <li style="margin-top:10px;">Обеспечить полный ассортимент материалов и инструментов необходмых для выполнения малярных работ</li>
                             
                        </ul>
                    </div>
                </div>
                <div class="block_about_company" style="    ">
                    <div class="img_ab_block">
                        <div class="about_company_img_block"style=" ">
                            <img class="about_company_img"style=" " src="{% static '/src/assets/img/icon/Path 60.png' %}" alt="Image">
                        </div>
                        <div class="block_about_company_heading" style="margin-left: 20px; width: 460px; ">
                            <h2 class="h3">MikC - это <span style="color:red;">прямой экспортер</span> абразивных материалов SMIRDEX, ЛКМ для обработки древесины GENC, бумаги для малярок PRODYVER и т.д. </h2>
                        </div>
                    </div>
                    <div>Благодаря этому мы можем:
                        <ul>
                            <li>Доукомплектовать</li>
                            <li style="margin-top:10px;">Обеспечить полный ассортимент материалов и инструментов необходмых для выполнения малярных работ</li>
                             
                        </ul>
                    </div>
                    </div>
                    <div class="block_about_company" style="  ">
                        <div class="img_ab_block">
                            <div class="about_company_img_block">
                                <img class="about_company_img" src="{% static '/src/assets/img/icon/Path 53.png' %}" alt="Image">
                            </div>
                            <div style="margin-left: 20px;  ;">
                                <h2 class="h3">MikC - это <span style="color:red;">cеть магазинов</span>по продаже лакокрасочной продукции </h2>
                            </div>
                        </div>
                        <div>Благодаря этому мы можем:
                            <ul>
                                <li>Принимать оплату разными способами(наличный и безналичный расчет,в том числе и с НДС, перевод на платежную карту и т.п.)</li>
                                <li style="margin-top:10px;">Обслуживать клиентов в различных частях города</li>
                                 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="block_about_company" style=" ">
                        <div class="img_ab_block">
                            <div class="about_company_img_block">
                                <img class="about_company_img" src="{% static '/src/assets/img/icon/Group 33.png' %}" alt="Image">
                            </div>
                            <div style="margin-left: 20px;  ">
                                <h2 class="h3">MikC - это структурированная система<span style="color:red;">оптовых продаж</span> и скидок</h2>
                            </div>
                        </div>
                        <div>Благодаря этому мы можем:
                            <ul>
                                <li>Предложить систему скидок в завимости от статуса клиента - професионал, диллер, дистрибьютор.</li>
                                <li style="margin-top:10px;">Давать скидки в зависимости от объема закупок при условии предоставлении информации клиента о себе.</li>
                                 
                            </ul>
                        </div>
                    </div>
                    <div class="block_about_company" style="    ">
                        <div class="img_ab_block">
                            <div class="about_company_img_block">
                                <img class="about_company_img" src="{% static '/src/assets/img/icon/Path 54.png' %}" alt="Image">
                            </div>
                            <div style="margin-left: 20px;  ">
                                <h2 class="h3">MikC - это оптовый склад, свой грузовой транспорт</h2>
                            </div>
                        </div>
                        <div>Благодаря этому мы можем:
                            <ul>
                                <li>Всегда иметь в наличии полный ассортимент продукции</li>
                                <li style="margin-top:10px;">Организовать доставку товара на объект при сумме закупки от 3 000 грн.</li>
                                 
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                 
            </div>
        </div>
    </section>
    <section>
        <div class="container" style=" ">
            <div class="">
                <h2  class="about_company_Heading_non" style=" ">Товарные направления</h2>
     
        <div class="comparison_lists col-lg-12 row">
            <button  class=""style="width:370px;height:190px;margin-left:20px;margin-top:20px">
                <img  style="margin-left:150px;"src="{% static '/src/assets/img/icon/Group 37.png' %}" alt="Image">
            <h2 class="h3" style="color:red;">CAR REFINISH</h2>
            <h2 class="h3" style=" ">ЛКМ для покраски автомобиля</h2></button>
        <button style="width:370px;height:190px;margin-left:20px;margin-top:20px">
            <img  style="margin-left:150px;"src="{% static '/src/assets/img/icon/Path 69.png' %}" alt="Image">
        <h2 class="h3" style="color:red;">DECORATIVE COATING</h2>
        <h2 class="h3" style=" ">ЛКМ для строительства и ремонта</h2></button>
        <button style="width:370px;height:190px;margin-left:20px;margin-top:20px">
            <img  style="margin-left:150px;"src="{% static '/src/assets/img/icon/Path 68.png' %}" alt="Image">
        <h2 class="h3" style="color:red;">WOOD COATING</h2>
        <h2 class="h3" style=" ">ЛКМ для побработки древесины</h2></button>
        <button style="width:370px;height:190px;margin-left:20px;margin-top:20px">
            <img  style="margin-left:150px;"src="{% static '/src/assets/img/icon/Group 38.png' %}" alt="Image">
        <h2 class="h3" style="color:red;">INDUSTRIAL COATING</h2>
        <h2 class="h3" style=" ">ЛКМ для промышленности, ремонта дорог и т.п.</h2></button>
        <button style="width:370px;height:190px;margin-left:20px;margin-top:20px">
            <img  style="margin-left:150px;"src="{% static '/src/assets/img/icon/Path 66.png' %}" alt="Image">
        <h2 class="h3" style="color:red;">CAR CARE</h2>
        <h2 class="h3" style=" ">Автохимия, автокосметика и оборудование для моек</h2></button>
        <button style="width:370px;height:190px;margin-left:20px;margin-top:20px">
            <img  style="margin-left:150px;"src="{% static '/src/assets/img/icon/Path 67.png' %}" alt="Image">
        <h2 class="h3" style="color:red;">NON PAINT</h2>
        <h2 class="h3" style=" ">Инструменты, оборудование и расходные материалы для малярных и покрасочных работ</h2></button>    </div>
    <div style="height:40px;"></div>
            </div>
        </div>
    </section>
    </div>
 
 
 
    </div>
 
            </div>
         
    </main>
    <footer>{% include "footer.html" %}</footer>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('.adaptive-slider');
        let isDragging = false,
            startPos = 0,
            currentTranslate = 0,
            prevTranslate = 0,
            animationID = 0,
            currentSlideIndex = 0;
      
        slider.addEventListener('touchstart', touchStart);
        slider.addEventListener('touchend', touchEnd);
        slider.addEventListener('touchmove', touchMove);
      
        // Получение индекса текущего слайда
        function getPositionX(event) {
          return event.type.includes('mouse') ? event.pageX : event.touches[0].clientX;
        }
      
        // Запуск перемещения слайдера
        function touchStart(event) {
          isDragging = true;
          startPos = getPositionX(event);
          animationID = requestAnimationFrame(animation);
          slider.classList.add('grabbing');
        }
      
        // Окончание перемещения слайдера
        function touchEnd() {
          isDragging = false;
          cancelAnimationFrame(animationID);
      
          const movedBy = currentTranslate - prevTranslate;
      
          // Если свайпнули достаточно сильно, меняем слайд
          if (movedBy < -100 && currentSlideIndex < slider.children.length - 1) currentSlideIndex += 1;
          if (movedBy > 100 && currentSlideIndex > 0) currentSlideIndex -= 1;
      
          setPositionByIndex();
      
          slider.classList.remove('grabbing');
        }
      
        // Обработка движения
        function touchMove(event) {
          if (isDragging) {
            const currentPosition = getPositionX(event);
            currentTranslate = prevTranslate + currentPosition - startPos;
          }
        }
      
        // Функция анимации для плавного перетаскивания
        function animation() {
          setSliderPosition();
          if (isDragging) requestAnimationFrame(animation);
        }
      
        // Установка позиции слайдера
        function setSliderPosition() {
          slider.style.transform = translateX(${currentTranslate}px);
        }
      
        // Установка позиции слайдера в зависимости от индекса текущего слайда
        function setPositionByIndex() {
          currentTranslate = -currentSlideIndex * (slider.clientWidth / slider.children.length);
          prevTranslate = currentTranslate;
          setSliderPosition();
        }
      });

</script>
</body>
 