{% extends "base.html" %}
{% load static %}


{% block title %}
    О компании
{% endblock %}


{% block content %}
<style>
    .about_company_heading_div{
        display: flex;
        justify-content: center;
         
    }
    .red-dot_list_li{
        padding-top:10px;
        line-height:27px;
    }
    .comparison_class_first{
        color:red;
        margin-top:34px !important;
    }
    .comparison_class_second{
        margin-top:26px !important;
    }
    .block_about_company{
        padding-top:30px;
        padding-left:30px;
        padding-bottom:76px;
    }
    .about_company_heading{
        font-size:40px;
        padding-top:3px;
    }
    .block_ab_bottom_text{
        padding-top:40px !important;
    }
    .block_about_company_heading{
        line-height: 33px !important;
        font-size:22px !important;
    }
    .red_dot_second_class{
        padding-top:24px !important;
        font-size:18px !important;
        line-height:27px !important;
    }
    .high_red_dot_ul{
        font-weight: 500;font-size:18px;
    }
    .img_ab_block{
        display: flex !important;
         align-items: flex-start !important;
    }
    .ab_text{
        line-height: 33px !important;
        font-size:22px !important;
    }
    @media only screen and (min-width: 768px) and (max-width: 992px) { .ab_text{
        line-height: 33px !important;
        font-size:18px !important;
    }}
    @media only screen   and (min-width: 320px) and (max-width: 760px){ .ab_text{
        line-height: 20px !important;
        font-size:14px !important;
    }}
</style>
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div id="overlay" class="overlay" ></div>
            <div id="app"></div>
            <div class="breadcrumb__content text-center">
                <ul class="breadcrumb__content--menu d-flex">
                    <li class="breadcrumb__content--menu__items">
                        <a href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="breadcrumb__content--menu__items">
                        <a href="{% url 'about_company' %}">О компании</a>
                    </li>

                </ul>
            </div>
            <div class="brand_buttons-wrapper about_company">
                <div class="slider-container adjustable-slider">
                    <div class="slider" style="display:flex;">
                        <div class="brand_buttons slide col-lg-21 col-md-21">
                            <div class="brand_buttons-inner about_company">
                                <img class="" src="{% static 'src/assets/img/logo/logo-mixon.png' %}"
                                     alt="Logo Mixon">
                            </div>
                        </div>
                        <div class="brand_buttons slide col-lg-21 col-md-21">
                            <div class="brand_buttons-inner about_company">
                                <img class="" src="{% static 'src/assets/img/logo/logo-genc.png' %}"
                                     alt="Logo Genc">
                            </div>
                        </div>
                        <div class="brand_buttons slide col-lg-21 col-md-21">
                            <div class="brand_buttons-inner about_company">
                                <img class="" src="{% static 'src/assets/img/logo/logo-smirdex.png' %}"
                                     alt="Logo Smirdex">
                            </div>
                        </div>
                        <div class="brand_buttons slide col-lg-21 col-md-21">
                            <div class="brand_buttons-inner about_company">
                                <img class="" src="{% static 'src/assets/img/logo/logo-domex.png' %}"
                                     alt="Logo Domex">
                            </div>
                        </div>
                        <div class="brand_buttons slide col-lg-21 col-md-21">
                            <div class="brand_buttons-inner about_company">
                                <img class="" src="{% static 'src/assets/img/logo/logo-prodyver.png' %}"
                                     alt="Logo Prodyver">
                            </div>
                        </div>
                        <div class="brand_buttons slide col-lg-21 col-md-21">
                            <div class="brand_buttons-inner about_company">
                                <a href="{% url 'brands' %}"
                                   class="view__all--link d-inline-block text-nowrap slide">
                                    <span class="me-3">Еще новости</span>
                                    <svg width="5%" viewBox="0 0 11 13" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.384766 0.764038L6.07377 6.39398L0.384766 12.024"
                                              stroke="currentColor"
                                              stroke-miterlimit="10"></path>
                                        <path d="M4.31104 0.764038L10 6.39398L4.31104 12.024" stroke="currentColor"
                                              stroke-miterlimit="10"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="about_company_heading_div"> 
            <span class="about_company_heading" style="">О компании MikC</span></div>
            <div class="about_company_content" style=" ">
                <div class="comparison_lists  row  ">
                    <div class="col-lg-7">
                        <div class="block_about_company" style="    ">
                            <div class="img_ab_block" style=" ">
                                <div class="about_company_img_block flex-grow-1
                                    flex-shrink-0 ">
                                    <img class="about_company_img"
                                         src="{% static '/src/assets/img/icon/Group 29.png' %}" alt="Image">
                                </div>
                                <div class="block_about_company_heading  flex-grow-0
                                    flex-shrink-1  " style="margin-left: 20px;    ">
                                    <h2 class="h3 ab_text" style="  ">MikC - это <span style="color:red;">производитель</span>
                                        лакокрасочной продукции, автохимии и автокосметики под брендами
                                        MIXON,DOMEX,MVL                           </h2>
                                </div>
                            </div>
                            <div class="block_ab_bottom_text"  style=" ">
                                <ul class="high_red_dot_ul"style=" ">Благодаря этому мы можем:</ul>
                                <ul class="red-dot_list red_dot_second_class" style=" ">
                                    <li class="red-dot_list_li">Создавать лимитированные партии под спец-заказы</li>
                                    <li class="red-dot_list_li" style=" ">Обеспечить полный ассортимент материалов и
                                        инструментов необходмых для выполнения малярных работ
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="block_about_company" style="    ">
                            <div class="img_ab_block">
                                <div class="about_company_img_block flex-grow-1
                                    flex-shrink-0 " style=" ">
                                    <img class="about_company_img" style=" "
                                         src="{% static '/src/assets/img/icon/Path 60.png' %}" alt="Image">
                                </div>
                                <div class="block_about_company_heading  flex-grow-0
                                    flex-shrink-1" style="margin-left: 20px;   ">
                                    <h2 class="h3 ab_text">MikC - это <span style="color:red;">прямой экспортер</span>
                                        абразивных материалов SMIRDEX, ЛКМ для обработки древесины GENC, бумаги для
                                        малярок PRODYVER и т.д. </h2>
                                </div>
                            </div>
                            <div class="block_ab_bottom_text">
                                <ul class="high_red_dot_ul">Благодаря этому мы можем:</ul>
                                <ul class="red-dot_list red_dot_second_class">
                                    <li class="red-dot_list_li">Доукомплектовать</li>
                                    <li class="red-dot_list_li"style="">Обеспечить полный ассортимент материалов и
                                        инструментов необходмых для выполнения малярных работ
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="block_about_company" style="  ">
                            <div class="img_ab_block ">
                                <div class="about_company_img_block flex-grow-1
                                    flex-shrink-0">
                                    <img class="about_company_img"
                                         src="{% static '/src/assets/img/icon/about_comapny_icon.svg' %}" alt="Image">
                                </div>
                                <div class=" block_about_company_heading flex-grow-0
                                    flex-shrink-1" style="margin-left: 20px;  ">
                                    <h2 class="h3 ab_text">MikC - это <span style="color:red;">cеть магазинов</span>по
                                        продаже лакокрасочной продукции </h2>
                                </div>
                            </div>
                            <div class="block_ab_bottom_text">
                                <ul class="high_red_dot_ul">Благодаря этому мы можем:</ul>
                                <ul class="red-dot_list red_dot_second_class">
                                    <li class="red-dot_list_li ">Принимать оплату разными способами(наличный и безналичный расчет,в том числе
                                        и с НДС, перевод на платежную карту и т.п.)
                                    </li>
                                    <li class="red-dot_list_li">Обслуживать клиентов в различных частях города</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="block_about_company" style=" ">
                            <div class="img_ab_block">
                                <div class="about_company_img_block flex-grow-1
                                    flex-shrink-0">
                                    <img class="about_company_img"
                                         src="{% static '/src/assets/img/icon/Group 33.png' %}" alt="Image">
                                </div>
                                <div class=" block_about_company_heading flex-grow-0
                                    flex-shrink-1" style="margin-left: 20px;  ">
                                    <h2 class="h3 ab_text">MikC - это структурированная система<span style="color:red;">оптовых продаж</span>
                                        и скидок</h2>
                                </div>
                            </div>
                            <div class="block_ab_bottom_text">
                                <ul class="high_red_dot_ul">Благодаря этому мы можем:</ul>
                                <ul class="red-dot_list red_dot_second_class">
                                    <li class="red-dot_list_li">Предложить систему скидок в завимости от статуса клиента - професионал,
                                        диллер, дистрибьютор.
                                    </li>
                                    <li class="red-dot_list_li">Давать скидки в зависимости от объема закупок при
                                        условии предоставлении информации клиента о себе.
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="block_about_company" style="    ">
                            <div class="img_ab_block">
                                <div class="about_company_img_block  ">
                                    <img class="about_company_img flex-grow-1
                                        flex-shrink-0"
                                         src="{% static '/src/assets/img/icon/Path 54.png' %}" alt="Image">
                                </div>
                                <div class=" block_about_company_heading flex-grow-0
                                    flex-shrink-1" style="margin-left: 20px;  ">
                                    <h2 class="h3 ab_text">MikC - это оптовый склад, свой грузовой транспорт</h2>
                                </div>
                            </div>
                            <div class="block_ab_bottom_text">
                                <ul class="high_red_dot_ul">Благодаря этому мы можем:</ul>
                                <ul class="red-dot_list red_dot_second_class">
                                    <li class="red-dot_list_li">Всегда иметь в наличии полный ассортимент продукции</li>
                                    <li class="red-dot_list_li">Организовать доставку товара на объект при сумме
                                        закупки от 3 000 грн.
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container" style=" ">
            <div class="">
                <span class="about_company_heading_non" style=" ">Товарные направления</span>

                <div class="comparison_lists col-lg-12 row">
                    <button class="about_company_button">
                        <img class="ab_butt" src="{% static '/src/assets/img/icon/Group 37.png' %}"
                             alt="Image" style=" ">
                        <h2 class="h3 comparison_class_first" style=" ">CAR REFINISH</h2>
                        <h2 class="h3 comparison_class_second" style=" ">ЛКМ для покраски автомобиля</h2></button>
                    <button class="about_company_button">
                        <img class="ab_butt" src="{% static '/src/assets/img/icon/Path 69.png' %}"
                             alt="Image">
                        <h2 class="h3 comparison_class_first" style="color:red;">DECORATIVE COATING</h2>
                        <h2 class="h3 comparison_class_second" style=" ">ЛКМ для строительства и ремонта</h2></button>
                    <button class="about_company_button">
                        <img class="ab_butt" src="{% static '/src/assets/img/icon/Path 68.png' %}"
                             alt="Image">
                        <h2 class="h3 comparison_class_first" style="color:red;">WOOD COATING</h2>
                        <h2 class="h3 comparison_class_second" style=" ">ЛКМ для побработки древесины</h2></button>
                    <button class="about_company_button">
                        <img class="ab_butt" src="{% static '/src/assets/img/icon/Group 38.png' %}"
                             alt="Image">
                        <h2 class="h3 comparison_class_first" style="color:red;">INDUSTRIAL COATING</h2>
                        <h2 class="h3 comparison_class_second" style=" ">ЛКМ для промышленности, ремонта дорог и т.п.</h2></button>
                    <button class="about_company_button">
                        <img class="ab_butt" src="{% static '/src/assets/img/icon/Path 66.png' %}"
                             alt="Image">
                        <h2 class="h3 comparison_class_first" style="color:red;">CAR CARE</h2>
                        <h2 class="h3 comparison_class_second" style=" ">Автохимия, автокосметика и оборудование для моек</h2></button>
                    <button class="about_company_button">
                        <img class="ab_butt" src="{% static '/src/assets/img/icon/Path 67.png' %}"
                             alt="Image">
                        <h2 class="h3 comparison_class_first" style="color:red;">NON PAINT</h2>
                        <h2 class="h3 comparison_class_second" style=" ">Инструменты, оборудование и расходные материалы для малярных и
                            покрасочных работ</h2></button>
                </div>
                <div style="height:40px;"></div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static '/src/assets/js/slider.js' %}">
        function toggleDropdown() {
            const dropdown = document.getElementById("myDropdown");
            dropdown.style.display = (dropdown.style.display === "block") ? "none" : "block";
        }

        // Закрыть выпадающий список при клике вне него
        window.onclick = function (event) {
            if (!event.target.matches('.panel button')) {
                const dropdowns = document.getElementsByClassName("dropdown");
                for (let i = 0; i < dropdowns.length; i++) {
                    const openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
       
        // Закрыть выпадающий список при клике вне него
        window.onclick = function (event) {
            if (!event.target.matches('.panel button')) {
                const dropdowns = document.getElementsByClassName("dropdown");
                for (let i = 0; i < dropdowns.length; i++) {
                    const openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
        document.addEventListener('DOMContentLoaded', (event) => {
            const openMenuButton = document.getElementById('openMenuButton');
            const closeMenuButton = document.getElementById('closeMenuButton');
            const overlay = document.getElementById('overlay');
            const menu = document.getElementById('menu');
            const mainContent = document.getElementById('mainContent');
            const header = document.querySelector('header'); // Найти header
        
            openMenuButton.addEventListener('click', () => {
                overlay.style.display = 'block';
                menu.style.display = 'block';
                mainContent.classList.add('inactive-overlay');
                document.body.style.overflow = 'hidden';
                
                // Сделать header активным
                header.style.zIndex = 20; // Или любое число выше, чем у overlay
                header.style.pointerEvents = 'auto';
            });
        
          
        
            overlay.addEventListener('click', () => {
                overlay.style.display = 'none';
                menu.style.display = 'none';
                mainContent.classList.remove('inactive-overlay');
                document.body.style.overflow = 'auto';
        
                // Вернуть header в исходное состояние
                header.style.zIndex = '';
                header.style.pointerEvents = '';
            });
        });
        document.addEventListener('click', (event) => {
            if (!menu.contains(event.target) && !openMenuButton.contains(event.target)) {
                overlay.style.display = 'none';
                menu.style.display = 'none';
                document.body.style.overflow = 'auto';
            }
        });

      
    </script>
    
{% endblock %}