{% extends "base.html" %}
{% load static %}


{% block title %}

{% endblock %}


{% block content %}
    <section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
        <div class="breadcrumb__content text-center">
            <ul class="breadcrumb__content--menu d-flex">
                <li class="breadcrumb__content--menu__items">
                    <a href="">Главная</a>
                </li>
                <li class="breadcrumb__content--menu__items">
                    <a href="">Бренды</a>
                </li>

            </ul>
        </div>
        <div><h2 class="h3" style="margin-left:500px;font-size: 40px;">Бренды</h2>
            <div class="brands_main_block">
                <div class="brands_line">
                    <button class="brands_cell"></button>
                    <button class="brands_cell"></button>
                    <button class="brands_cell"></button>
                    <button class="brands_cell"></button>
                    <button class="brands_cell"></button>
                    <button class="brands_cell"></button>
                </div>
                <div class="brands_line">
                    <button class="brands_cell"></button>
                    <button class="brands_cell"></button>
                    <button class="brands_cell"></button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}



