<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/src/assets/img/favicon.ico' %}">

    <!-- Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/glightbox.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap"
          rel="stylesheet">

    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static '/src/assets/css/vendor/bootstrap.min.css' %}">

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static '/src/assets/css/style.css' %}">
    <title></title>
</head>
<body>
<div class="body__wrapper">
    <header>{% include "header.html" %}</header>
    <main class="main__content_wrapper">
        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container">
                <div class="breadcrumb__content text-center slider-container">
                    <ul class="breadcrumb__content--menu d-flex slider">
                        <li class="breadcrumb__content--menu__items">
                            <a href="">Главная</a>
                        </li>
                        <li class="breadcrumb__content--menu__items">
                            <a href="">ЛКМ для Строительства</a>
                        </li>
                        <li class="breadcrumb__content--menu__items">
                            <a href="">Шпатлевка универсальная</a>
                        </li>
                    </ul>
                </div>
                <h2 class="breadcrumb__content--title">ЛКМ для Строительства</h2>
                <div class="brand_buttons-wrapper">
                    <div class="slider-container adjustable-slider">
                        <div class="slider" style="display:flex;">
                            <div class="brand_buttons slide col-lg-21 col-md-22 col-19">
                                <div class="brand_buttons-inner">
                                    <img class="" src="{% static 'src/assets/img/logo/logo-mixon.png' %}"
                                         alt="Logo Mixon">
                                </div>
                            </div>
                            <div class="brand_buttons slide col-lg-21 col-md-22 col-19">
                                <div class="brand_buttons-inner">
                                    <img class="" src="{% static 'src/assets/img/logo/logo-genc.png' %}"
                                         alt="Logo Genc">
                                </div>
                            </div>
                            <div class="brand_buttons slide col-lg-21 col-md-22 col-19">
                                <div class="brand_buttons-inner">
                                    <img class="" src="{% static 'src/assets/img/logo/logo-smirdex.png' %}"
                                         alt="Logo Smirdex">
                                </div>
                            </div>
                            <div class="brand_buttons slide col-lg-21 col-md-22 col-19">
                                <div class="brand_buttons-inner">
                                    <img class="" src="{% static 'src/assets/img/logo/logo-domex.png' %}"
                                         alt="Logo Domex">
                                </div>
                            </div>
                            <div class="brand_buttons slide col-lg-21 col-md-22 col-19">
                                <div class="brand_buttons-inner">
                                    <img class="" src="{% static 'src/assets/img/logo/logo-prodyver.png' %}"
                                         alt="Logo Prodyver">
                                </div>
                            </div>
                            <div class="brand_buttons slide col-lg-21 col-md-22 col-19">
                                <div class="brand_buttons-inner">
                                    <a href="/catalogue"
                                       class="view__all--link d-inline-block text-nowrap slide">
                                        <span>Все бренды</span>
                                        <svg width="7%" viewBox="0 0 11 13" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.384766 0.764038L6.07377 6.39398L0.384766 12.024"
                                                  stroke="currentColor"
                                                  stroke-miterlimit="10"></path>
                                            <path d="M4.31104 0.764038L10 6.39398L4.31104 12.024" stroke="currentColor"
                                                  stroke-miterlimit="10"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product__section section--padding pt-0 bg__off_white">
            <div class="container">
                <div class="catalogue-sort">
                    <span class="filters-button">Фильтры</span>
                    <div class="">
                        <span>Сортировать по:</span>
                        <button class="sort-type active">популярности</button>
                        <button class="sort-type">цене</button>
                        <button class="sort-type">названию</button>
                    </div>
                    <div class="layout-buttons">
                        <button class="layout-style active">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.116 0H0V5.116H5.116V0Z" fill="currentColor"></path>
                                <path d="M20.0428 0H14.9268V5.116H20.0428V0Z" fill="currentColor"></path>
                                <path d="M12.5799 0H7.46387V5.116H12.5799V0Z" fill="currentColor"></path>
                                <path d="M5.116 14.927H0V20.043H5.116V14.927Z" fill="currentColor"></path>
                                <path d="M20.0428 14.927H14.9268V20.043H20.0428V14.927Z" fill="currentColor"></path>
                                <path d="M12.5799 14.927H7.46387V20.043H12.5799V14.927Z" fill="currentColor"></path>
                                <path d="M5.116 7.46301H0V12.579H5.116V7.46301Z" fill="currentColor"></path>
                                <path d="M20.0428 7.46301H14.9268V12.579H20.0428V7.46301Z" fill="currentColor"></path>
                                <path d="M12.5799 7.46301H7.46387V12.579H12.5799V7.46301Z" fill="currentColor"></path>
                            </svg>
                        </button>
                        <button class="layout-style">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.064 0H0V9.2646H9.064V0Z" fill="currentColor"></path>
                                <path d="M20.0708 0H11.0068V9.2646H20.0708V0Z" fill="currentColor"></path>
                                <path d="M9.064 11.222H0V20.4866H9.064V11.222Z" fill="currentColor"></path>
                                <path d="M20.0708 11.222H11.0068V20.4866H20.0708V11.222Z" fill="currentColor"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row product__list br-row_1">
                    <div class="shop__sidebar--widget__wrapper row col-lg-6 col-md-18 px-0">
                        <div class="shop__sidebar--widget widget__area px-0">
                            <div class="single__widget widget__bg">
                                <div class="d-flex widget__title">
                                    <img src="{% static '/src/assets/img/icon/down_arrow.svg' %}" alt="down arrow">
                                    <div class="invisible">a</div>
                                    <h2 class="h3">Выбрать</h2>
                                </div>

                                <ul class="widget__form--check">
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check1" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check1">Акционные</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check2" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check2">Новинки</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check3" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check3">Есть в
                                            наличии</label>

                                    </li>
                                </ul>
                            </div>
                            <div class="single__widget widget__bg">
                                <div class="d-flex widget__title">
                                    <img src="{% static '/src/assets/img/icon/down_arrow.svg' %}" alt="down arrow">
                                    <div class="invisible">a</div>
                                    <h2 class="h3">Вид</h2>
                                </div>

                                <ul class="widget__form--check">
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check4" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check4">Краска</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check5" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check5">Грунтовка</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check6" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check6">Лак</label>

                                    </li>
                                </ul>
                            </div>
                            <div class="single__widget widget__bg price__widget">
                                <div class="d-flex widget__title">
                                    <img src="{% static '/src/assets/img/icon/down_arrow.svg' %}" alt="down arrow">
                                    <div class="invisible">a</div>
                                    <h2 class="h3">Цена</h2>
                                </div>

                                <form class="price__filter--form" action="#">
                                    <div class="price__filter--form__inner mb-15 d-flex align-items-center">
                                        <div class="price__filter--group">
                                            <div class="price__filter--input border-radius-5 d-flex align-items-center">
                                                <input class="price__filter--input__field border-0"
                                                       name="filter.v.price.gte" id="Filter-Price-GTE2" type="number"
                                                       placeholder="0" min="0" max="5000">
                                            </div>
                                        </div>
                                        <div class="price__filter--group">
                                            <div class="price__filter--input border-radius-5 d-flex align-items-center">
                                                <input class="price__filter--input__field border-0"
                                                       name="filter.v.price.lte" id="Filter-Price-LTE2" type="number"
                                                       min="0" placeholder="500" max="5000">
                                            </div>
                                        </div>
                                        <button class="price__filter--group primary__btn price__filter--btn border-radius-5"
                                                type="submit">
                                            ОК
                                        </button>
                                    </div>

                                </form>
                            </div>
                            <div class="single__widget widget__bg">
                                <div class="d-flex widget__title">
                                    <img src="{% static '/src/assets/img/icon/down_arrow.svg' %}" alt="down arrow">
                                    <div class="invisible">a</div>
                                    <h2 class="h3">Основа</h2>
                                </div>

                                <ul class="widget__form--check">
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check7" type="checkbox">
                                        <span class="widget__form--checkmark circle"></span>
                                        <label class="widget__form--check__label--base" for="check7">Акриловая</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check8" type="checkbox">
                                        <span class="widget__form--checkmark circle"></span>
                                        <label class="widget__form--check__label--base" for="check8">Алкидная</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check9" type="checkbox">
                                        <span class="widget__form--checkmark circle"></span>
                                        <label class="widget__form--check__label--base"
                                               for="check9">Полиуретановая</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check10" type="checkbox">
                                        <span class="widget__form--checkmark circle"></span>
                                        <label class="widget__form--check__label--base"
                                               for="check10">Полиэфирная</label>

                                    </li>
                                </ul>
                            </div>
                            <div class="single__widget widget__bg">
                                <div class="d-flex widget__title">
                                    <img src="{% static '/src/assets/img/icon/down_arrow.svg' %}" alt="down arrow">
                                    <div class="invisible">a</div>
                                    <h2 class="h3">Объем (вес)</h2>
                                </div>

                                <ul class="widget__form--check">
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check11" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check11">до 1.0</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check12" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check12">1.1-3.0</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check13" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check13">3.1-5.0</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check14" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check14">5.1-10.0</label>

                                    </li>
                                    <li class="widget__form--check__list">
                                        <input class="widget__form--check__input" id="check15" type="checkbox">
                                        <span class="widget__form--checkmark"></span>
                                        <label class="widget__form--check__label--base" for="check15">больше
                                            10.0</label>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-13 col-md-19 px-lg-6 px-md-6 px-8">
                        {% for i in 'abcdefghklmn'|make_list %}
                            <div class="col-lg-5 col-6 px-lg-6 px-md-6 px-8 mb-6">
                                {% include "product_block.html" %}
                            </div>
                        {% endfor %}
                        <div class="pagination__area">
                            <div class="pagination refresh__page justify-content-center">
                                <a href="" class="pagination justify-content-center">
                                    <img src="{% static '/src/assets/img/icon/refresh_page__red.svg' %}"
                                         alt="refresh page">
                                    <p class="invisible">a</p>Показать еще
                                </a>
                            </div>

                            <nav class="pagination justify-content-center">
                                <ul class="pagination__wrapper d-flex align-items-center justify-content-center">
                                    <li class="pagination__list">
                                        <a href="" class="pagination__item--arrow  link ">
                                            <img src="{% static '/src/assets/img/icon/left_arrow.svg' %}"
                                                 alt="left arrow">
                                        </a>
                                    </li>
                                    <li class="pagination__list"><span
                                            class="pagination__item pagination__item--current">1</span></li>
                                    <li class="pagination__list">
                                        <a href="" class="pagination__item link">2</a>
                                    </li>
                                    <li class="pagination__list">
                                        <a href="" class="pagination__item link">3</a>
                                    </li>
                                    <li class="pagination__list">
                                        <a href="" class="pagination__item link">4</a>
                                    </li>
                                    <li class="pagination__list">
                                        <a href="" class="pagination__item link no-hover no-cursor_change">...</a>
                                    </li>
                                    <li class="pagination__list">
                                        <a href="" class="pagination__item link">8</a>
                                    </li>
                                    <li class="pagination__list">
                                        <a href="" class="pagination__item--arrow  link ">
                                            <img src="{% static '/src/assets/img/icon/right_arrow.svg' %}"
                                                 alt="right arrow">
                                        </a>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>{% include "footer.html" %}</footer>
</div>
</body>
<script src="{% static '/src/assets/js/slider.js' %}"></script>
<script>
    function dispatchMaxTranslateEvent() {
        const event = new Event('calculateMaxTranslateEvent');
        document.dispatchEvent(event);
    }

    function setBreadcrumbWidth() {
        const breadcrumbItems = document.querySelectorAll('.breadcrumb__content--menu__items');
        let totalWidth = 0;

        breadcrumbItems.forEach(function (item) {
            const style = getComputedStyle(item);
            totalWidth += item.offsetWidth + parseInt(style.marginLeft) + parseInt(style.marginRight);
        });

        const breadcrumb = document.querySelector('.breadcrumb__content--menu');
        breadcrumb.style.width = totalWidth + 'px';
        dispatchMaxTranslateEvent();
    }

    window.addEventListener('load', setBreadcrumbWidth);
    window.addEventListener('resize', setBreadcrumbWidth);

</script>
<script>
    // Находим все кнопки с классом "layout-style"
    const layoutButtons = document.querySelectorAll('.layout-style');

    // Добавляем обработчик события клика для каждой кнопки
    layoutButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Удаляем класс "active" у всех кнопок
            layoutButtons.forEach(btn => btn.classList.remove('active'));
            // Добавляем класс "active" только к нажатой кнопке
            button.classList.add('active');
        });
    });

    // Находим все кнопки с классом "sort-type"
    const sortButtons = document.querySelectorAll('.sort-type');

    // Добавляем обработчик события клика для каждой кнопки
    sortButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Удаляем класс "active" у всех кнопок
            sortButtons.forEach(btn => btn.classList.remove('active'));
            // Добавляем класс "active" только к нажатой кнопке
            button.classList.add('active');
        });
    });

</script>
</html>