{% extends "base.html" %}
{% load static %}


{% block title %}

{% endblock %}


{% block content %}
    <section class="error_page_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-26" style="margin-top:165px;margin-left:px; margin-bottom:177px;">
                    <div class="reading_block" style=" ">
                    <h2 class="h3" style="color:red;padding-bottom:8px;font-weight:SemiBold;font-size:30px;">Ошибка 404 </h2>
                    <h2 class="h3" style="padding-bottom:35px;font-size:30px;font-weight:Regular;padding-top:8px; line-height:35px;" >Страница не найдена </h2>
                    <span style="color:gray;padding-bottom:16px;font-size:18px;">Возможно, она была удалена или вы перешли по<br> устаревшей ссылке</span>
                    <span style="padding-bottom:46px;font-size:18px;">Пожалуйста, проверьте написание адреса в браузерной<br> строке или вернитесь на главную</span>
                    <button class="error_butt" style=" "><p style="color:white;font-size:16px;">Главная</p></button>
                    </div>
                </div>
                <div class="col-lg-26" style="background:;margin-top:50px; ">
                    <img class="error_img" style=" "
                    src="{% static '/src/assets/img/icon/404_title.svg' %}">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
