{% extends "base.html" %}
{% load static %}


{% block title %}
    Страница не найдена
{% endblock %}


{% block content %}
    <section class="error_page_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-26" style="margin-top:100px;">
                    <div class="reading_block" style=" ">
                        <h2 class="h3" style="color:red;padding-bottom:8px;">Ошибка 404 </h2>
                        <h2 class="h3" style="padding-bottom:35px;">Страница не найдена</h2>
                        <span style="color:gray;padding-bottom:16px;">Возможно, она была удалена или вы перешли по устаревшей ссылке</span>
                        <span style="padding-bottom:46px;">Пожалуйста, проверьте написание адреса в браузерной строке или вернмиест на главную</span>
                        <button style="border:none;background-color:red;width:170px;height:40px;border-radius:5px;"><p>
                            Главная</p></button>
                    </div>
                </div>
                <div class="col-lg-26">
                    <img class="error_img" style=" "
                         src="{% static '/src/assets/img/icon/404_title.svg' %}">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
