{% extends "base.html" %}
{% load static %}


{% block title %}

{% endblock %}


{% block content %}
    <section class="error_page_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="margin-top:200px;width:400px;">
                    <div class="reading_block" style="border-color:red;border:   1px solid red; ">
                        <h2 class="h3" style="color:red;">Ошибка 404 </h2>
                        <h2 class="h3">Страница не найдена </h2>
                        <span style="color:gray;">Возможно, она была удалена или вы перешли по устаревшей ссылке</span>
                        <span>Пожалуйста, проверьте написание адреса в браузерной строке или вернмиест на главную</span>
                        <button style="border:none;background-color:red;width:170px;height:40px;"><p>Главная</p>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6" style="margin-left:150px;">
                    <img style="height:495px;width:470px;"
                         src="{% static '/src/assets/img/icon/404_title.svg' %}">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
