<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/static/src/assets/img/favicon.ico' %}">

    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/glightbox.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap"
          rel="stylesheet">

    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static '/src/assets/css/vendor/bootstrap.min.css' %}">

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static '/src/assets/css/style.css' %}">
    <title>Title</title>
</head>
<body>

<div class="footer__section footer__bg">
    <div class="container">
        <div class="main__footer">
            <img src="{% static '/src/assets/img/logo/logo_mix2.svg' %}" alt="mixon-logo">
            <div class="row ">
                <div class="col-lg-4 col-md-10">
                    <div class="footer__widget">
                        <h2 class="footer__widget--title">Контакты
                            <button class="footer__widget--button" aria-label="footer widget button"></button>
                            <svg class="footer__widget--title__arrowdown--icon" xmlns="http://www.w3.org/2000/svg"
                                 width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                                <path d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z"
                                      transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </h2>
                        <div class="footer__widget--inner">
                            <ul class="footer__widget--menu footer__widget--inner">
                                <li class="footer__widget--menu__list"><a
                                        class="footer__widget--menu__text no-hover no-cursor_change">+38 095 295 88
                                    03</a></li>
                                <li class="footer__widget--menu__list"><a
                                        class="footer__widget--menu__text no-hover no-cursor_change">+38 097 295 88
                                    03</a></li>
                                <li class="footer__widget--menu__list"><a
                                        class="footer__widget--menu__text no-hover no-cursor_change">+38 067 888 00
                                    03</a></li>
                                <li class="footer__widget--menu__list invisible"><a
                                        class="footer__widget--menu__text no-hover no-cursor_change">asd</a></li>
                                <li class="footer__widget--menu__list"><a
                                        class="footer__widget--menu__text no-hover no-cursor_change">shop@mixon.ua</a>
                                </li>
                            </ul>
                            <ul class="social__share footer__social d-flex">
                                <li class="social__share--list">
                                    <a class="social__share--icon__style2 no-hover" target="_blank"
                                       href="https://web.telegram.org">
                                        <img src="{% static '/src/assets/img/icon/Telegram_Logo.png' %}"
                                             alt="telegram-icon">
                                        <span class="visually-hidden">Telegram</span>
                                    </a>
                                </li>
                                <li class="social__share--list">
                                    <a class="social__share--icon__style2 no-hover" target="_blank"
                                       href="https://www.facebook.com">
                                        <img src="{% static '/src/assets/img/icon/Facebook_logo.svg' %}"
                                             alt="facebook-icon">
                                        <span class="visually-hidden">Facebook</span>
                                    </a>
                                </li>
                                <li class="social__share--list">
                                    <a class="social__share--icon__style2 no-hover" target="_blank"
                                       href="https://www.instagram.com">
                                        <img src="{% static '/src/assets/img/icon/Instagram_logo.png' %}"
                                             alt="instagram-icon">
                                        <span class="visually-hidden">Instagram</span>
                                    </a>
                                </li>
                                <li class="social__share--list">
                                    <a class="social__share--icon__style2 youtube__rectangle no-hover" target="_blank"
                                       href="https://www.youtube.com">
                                        <img src="{% static '/src/assets/img/icon/Youtube_logo.png' %}"
                                             alt="youtube-icon">
                                        <span class="visually-hidden">YouTube</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="social__share footer__social d-flex">
                                <li class="social__share--list">
                                    <a class="social__share--icon__style2 no-hover" target="_blank"
                                       href="https://www.viber.com/">
                                        <img src="{% static '/src/assets/img/icon/Viber_logo.png' %}" alt="viber-icon">
                                        <span class="visually-hidden">Viber</span>
                                    </a>
                                </li>
                                <li class="social__share--list">
                                    <a class="social__share--icon__style2 no-hover" target="_blank"
                                       href="https://www.facebook.com">
                                        <img src="{% static '/src/assets/img/icon/WhatsApp_logo.webp' %}"
                                             alt="whats-app-icon">
                                        <span class="visually-hidden">Whats-App</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="footer__widget">
                        <h2 class="footer__widget--title ">Меню
                            <button class="footer__widget--button" aria-label="footer widget button"></button>
                            <svg class="footer__widget--title__arrowdown--icon" xmlns="http://www.w3.org/2000/svg"
                                 width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                                <path d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z"
                                      transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </h2>
                        <ul class="footer__widget--menu footer__widget--inner">
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="">Акции</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="">О нас</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="">Новости</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="">Оплата и доставка</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1 col-md-4">
                    <div class="footer__widget">
                        <h2 class="footer__widget--title ">Товарные направления
                            <button class="footer__widget--button" aria-label="footer widget button"></button>
                            <svg class="footer__widget--title__arrowdown--icon" xmlns="http://www.w3.org/2000/svg"
                                 width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                                <path d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z"
                                      transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </h2>
                        <ul class="footer__widget--menu footer__widget--inner">
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="{% url 'catalogue' %}">ЛКМ для Строительства</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="{% url 'catalogue' %}">ЛКМ для Авторемонта</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="{% url 'catalogue' %}">ЛКМ для Деревообработки</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="{% url 'catalogue' %}">ЛКМ для Промышленности</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="{% url 'catalogue' %}">Автохимия, автокосметика,
                                оборудование для автомоек</a></li>
                            <li class="footer__widget--menu__list"><a class="footer__widget--menu__text"
                                                                      href="{% url 'catalogue' %}">Инструменты, аксессуары,
                                оборудование</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer__widget">
                        <h2 class="footer__widget--title ">Магазины
                            <button class="footer__widget--button" aria-label="footer widget button"></button>
                            <svg class="footer__widget--title__arrowdown--icon" xmlns="http://www.w3.org/2000/svg"
                                 width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                                <path d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z"
                                      transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </h2>
                        <ul class="footer__widget--menu footer__widget--inner">
                            <li class="footer__widget--menu__list"><a
                                    class="footer__widget--menu__text no-cursor_change no-hover"
                                    href="">г. Одесса</a>
                                <ul class="footer__widget--menu footer__widget--inner locations_list">
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">ул. Елисаветинская 4,<br> +38 (097) 295 88 03, 38 (095) 295 88
                                        03</a></li>
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">ул. Ильфа и Петрова 18а,<br> +38(067) 524 51 66, 38(095) 230 51
                                        66</a></li>
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">ул. 25 чапаевской дивизии 13/1,<br> +38(067) 523 97 34, 38(099) 523
                                        97 34</a></li>
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">Промр-к «Черноморец», ул. Малиновского, 67,<br>+38 (067) 524 51 67,
                                        38 (095) 014 54 67</a></li>
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">Промрынок «Меркурий», Днепро дорога,<br>+38(067) 524 41 56, 38(099)
                                        024 41 56</a></li>
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">Промр-к «Староконный», ул. Раскидайлов. 31,<br>+38(067) 524 97, 38
                                        38(095) 523 97 38</a></li>
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">ул. Раскидайловская 34,<br>+38(067) 888 00 34</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer__widget--menu__list"><a
                                    class="footer__widget--menu__text no-cursor_change no-hover"
                                    href="">г. Киев</a>
                                <ul class="footer__widget--menu footer__widget--inner locations_list">
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">пр-т Глушкова 40, корп. 3,<br>+38(096) 295 88 09</a></li>
                                </ul>
                            </li>
                            <li class="footer__widget--menu__list"><a
                                    class="footer__widget--menu__text no-cursor_change no-hover"
                                    href="">г. Луцк</a>
                                <ul class="footer__widget--menu footer__widget--inner locations_list">
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">ул. Ровенская 44,<br>+38(098) 295 33 19, 38(095) 295 33 19</a></li>
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">пр-т Победы 18,<br>+38(098) 295 33 19, 38(095) 295 33 19</a></li>
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">ул. Кравчука 44а,<br>+38(098) 295 33 19, 38(095) 295 33 19</a></li>
                                </ul>
                            </li>
                            <li class="footer__widget--menu__list"><a
                                    class="footer__widget--menu__text no-cursor_change no-hover"
                                    href="">г. Ровно</a>
                                <ul class="footer__widget--menu footer__widget--inner locations_list">
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">ул. Бородина 4,<br>+38(096) 295 33 12, 38(095) 295 33 12</a></li>
                                </ul>
                            </li>
                            <li class="footer__widget--menu__list"><a
                                    class="footer__widget--menu__text no-cursor_change no-hover"
                                    href="">г. Хмельницкий</a>
                                <ul class="footer__widget--menu footer__widget--inner locations_list">
                                    <li class="footer__widget--menu__list"><a
                                            class="footer__widget--menu__text locations_text"
                                            href="">ул. Побужская 11,<br>+38(098) 295 33 13 38(095) 295 33 13</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/src/assets/js/vendor/popper.js' %}" defer="defer"></script>
<script src="{% static '/src/assets/js/vendor/bootstrap.min.js' %}" defer="defer"></script>
<script src="{% static '/src/assets/js/plugins/swiper-bundle.min.js' %}"></script>
<script src="{% static '/src/assets/js/plugins/glightbox.min.js' %}"></script>
</body>
</html>