<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/static/src/assets/img/favicon.ico' %}">

    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/glightbox.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap"
          rel="stylesheet">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static '/src/assets/css/vendor/bootstrap.min.css' %}">

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static '/src/assets/css/style.css' %}">
    <title></title>

</head>

<body>


<!-- Start header area -->

<div class="main__header header__sticky" style='background: #FFF;'>
    <div class="container">
        <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
           <button class="adaptive_header_button"></button>
            <div class="main__logo" >
                 <a class="main__logo--link" href="{% url 'home' %}">
                <img class="main__logo--img" src="{% static '/src/assets/img/logo/logo_mix2.svg' %}"
                alt="logo-img"></a>
               
            </div>
            <div class="panel-container"  > 
                <div class="header__menu-panel">
                    <button class="menu-panel__button_first">
                       <p  class="first_menu-panel__button_text"  > Акции</p>
                    </button>
                    <button  class="menu-panel__button"
                            style=" ">
                            <p class="menu-panel__button_text"  >     О нас</p>
                    </button>
                    <button class="menu-panel__button">
                            <p class="menu-panel__button_text"   >       Новости</p>
                    </button>
                    <button class="menu-panel__button">
                    <p class="menu-panel__button_text" >       Оплата и доставка</p>
                    </button>
                    <button class="menu-panel__button">
                            <p class="menu-panel__button_text" >        Контакты </p>
                    </button>

                    <!-- Добавьте еще кнопки, если нужно -->
                </div>
                <div class="panel" id="myPanel"  > 
                    <img src="{% static '/src/assets/img/icon/city_mark1.svg' %}" alt="Icon">
                    <div class="panel_label" ><p class="panel_label_text"  >Хмельницикий</p></div>
                    <button class="panel_dropdowm_button"onclick="toggleDropdown(python manage.py runserver)"> 
                                            <img class="panel_dropdowm_button_img" src="{% static '/src/assets/img/icon/Vector 1.svg' %}" >
                                        </button>
                    <div class="dropdown" id="myDropdown">
                        <button>Вариант 1</button>
                        <button>Вариант 2</button>
                        <button>Вариант 3</button>
                    </div>
                    
                </div>
                <button class="header_mobile_button"></button>
                <div class="panel-right" >
                    <img src="{% static '/src/assets/img/icon/phone.svg' %}" alt="Phone Icon">
                    <div class="label">+38 097 295 88 03</div>
                </div>
                <!-- Новая третья панель -->
                <div class="logo-messengers"  >
                    <img src="{% static '/src/assets/img/icon/viber-top.svg' %}" alt="Messenger Icon 1">
                    <img src="{% static '/src/assets/img/icon/wats-app-top.svg' %}" alt="Messenger Icon 2">
                    <img src="{% static '/src/assets/img/icon/telegram-top.svg' %}" alt="Messenger Icon 3">
                </div>
                <div class="language_panel" style="position:relative;right:30px;">
                    <button style="background: none;
    border: none;">Укр
                    </button>
                    <button style="background: none;
    border: none;"><p style="color:#FE0000">Рус</p>
                    </button>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="header__bottom bg__primary" >
    <div class="container">
        <div class="header__bottom--inner position__relative d-flex align-items-center">
            <div class="categories__menu  " style=" "  >
                <div class="categories__menu--header bg__secondary text-white d-flex align-items-center"
                     data-bs-toggle="collapse" data-bs-target="#categoriesAccordion" style='background: #1F0D01; height:63px; '>
                    <img class="categories__menu_img"src="{% static '/src/assets/img/icon/logo-katalog1.svg' %}" alt="Logo Katalog">

                    <span  class="categories__menu_text"style="  ">Каталог товаров</span>
                     
                </div>

            </div>
            <div class="header__search--widget   d-lg-block header__sticky--none" style="
                    margin-left:100px; ">
                <form class="d-flex header__search--form border-radius-" action="#">

                    <div class="header__search--box" style="display:flex;"  >
                        <label>
                            <input class="header__search--input" style="height: 40px; border-radius:0; 
                            }"placeholder="Поиск товара" >
                                   <img svg="{% static '/src/assets/img/icon/lupa 1.svg' %}">
                        </label>
                        <button class="header__search--button bg__primary text-white" aria-label="search button"
                                type="submit" placeholder="Найти" style="   height: 42px;margin-top:-1px;border-radius:0;background-color:red;"  >
                                Найти
                          <!--    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"-->
                                 <!-- xmlns="http://www.w3.org/2000/svg"> -->
                           
                            <!-- </svg> -->
                        </button>
                    </div>
                </form>
            </div>

            <div class="frame3-panel" style=" margin-left:30px;">
                <button class="icon-button_n" style="background: none;border: none;position:relative; ">
                    <img src="{% static '/src/assets/img/icon/account-logo.svg' %}" alt="Личный кабинет">
                </button>
                <button class="icon-button" style="background: none;border: none;position:relative; ">
                    <img src="{% static '/src/assets/img/icon/logo-sravnenie.svg' %}" alt="Сравнение">
                </button>
                <button class="icon-button" style="background: none;border: none;position:relative; ">
                    <img src="{% static '/src/assets/img/icon/favorites-logo.svg' %}" alt="Избранное">
                </button>
                <button class="icon-button_n" style="background: none;border: none;position:relative; ">
                  
                    <img src="{% static '/src/assets/img/icon/cart-logo.svg' %}" alt="Корзина">
                </button>
            </div>


        </div>
    </div>
</div>


<!-- End header area -->
<!-- All Script JS Plugins here  -->
<script src="{% static '/src/assets/js/vendor/popper.js' %}" defer="defer"></script>
<script src="{% static '/src/assets/js/vendor/bootstrap.min.js' %}" defer="defer"></script>
<script src="{% static '/src/assets/js/plugins/swiper-bundle.min.js' %}"></script>
<script src="{% static '/src/assets/js/plugins/glightbox.min.js' %}"></script>
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("myDropdown");
        dropdown.style.display = (dropdown.style.display === "block") ? "none" : "block";
    }

    // Закрыть выпадающий список при клике вне него
    window.onclick = function (event) {
        if (!event.target.matches('.panel button')) {
            var dropdowns = document.getElementsByClassName("dropdown");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                }
            }
        }
    }
</script>
<!-- Customscript js -->
<script src="{% static '/src/assets/js/script.js' %}"></script>

</body>
</html>