<html lang="en">

<head>
    <meta charset="utf-8">
    {% load static %}
    <title></title>
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/src/assets/img/favicon.ico' %}">

    <!-- Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/glightbox.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap"
          rel="stylesheet">

    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static '/src/assets/css/vendor/bootstrap.min.css' %}">

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static '/src/assets/css/style.css' %}">

</head>

<body>

<div class="body__wrapper">
    <header>{% include "header.html" %}</header>
    <main class="main__content_wrapper bg__off_white">
        <section class="slider--section mb-7">
            <div class="container">

              
                <link rel="import" href="publuic/header.html">

                <div id="app"></div>
                <div class="vertical-block" style="  ">
                    <div class="high_main_block">
                        <div class="main_high_buttons">
                    <div class="item" style="position:relative;top:20px;left:15px;" onclick="handleItemClick('Item 1')"  >
                        <img style="position:absolute;margin-top:3px;left:-30px;" src="{% static '/src/assets/img/icon/akciya 1.svg' %}">
                        <p style="font-family:Montserrat;color:red;font-weight: 500;">Акции</p>
                    </div>
                    <div class="item"  style="position:relative;top:30px;left:15px;"onclick="handleItemClick('Item 2')">
                        <img style="position:absolute;margin-top:px;left:-30px;" src="{% static '/src/assets/img/icon/lkm-stroitelstvo 1.svg' %}">
                        <p style="font-family:Montserrat; font-weight: 500;position:relative; ">
                            ЛКМ для Строительства</p>
                    </div>  
                    <div class="item" style="position:relative;top:40px;left:15px;" onclick="handleItemClick('Item 1') ">
                        <img style="position:absolute;margin-top:px;left:-30px;"src="{% static '/src/assets/img/icon/lkm-autoremont 1.svg' %}">
                        <p style="font-family:Montserrat; font-weight: 500;">ЛКМ для Авторемонта</p>
                    </div>
                    <div class="item" style="position:relative;top:50px;left:15px;" onclick="handleItemClick('Item 2')">
                        <img style="position:absolute;margin-top:px;left:-30px;"src="{% static '/src/assets/img/icon/lkm-derevo 1.svg' %}">
                        <p style="font-family:Montserrat; font-weight: 500;">ЛКМ для Древообработки</p>
                    </div>
                    <div class="item" style="position:relative;top:60px;left:15px;" onclick="handleItemClick('Item 1') ">
                        <img style="position:absolute;margin-top:px;left:-30px;" src="{% static '/src/assets/img/icon/lkm-industry 1.svg' %}">
                        <p style="font-family:Montserrat; font-weight: 500;">ЛКМ для Промышленности</p>
                    </div>
                    <div class="item" style="position:relative;top:70px;left:15px;" onclick="handleItemClick('Item 2')">
                        <img style="position:absolute;margin-top:px;left:-30px;"src="{% static '/src/assets/img/icon/auto-chemikal 1.svg' %}">
                        <p style="font-family:Montserrat; font-weight: 500;">Автохимия,автокосметика,<br>
                            оборудование для автомоек</p>
                    </div>
                    <div class="item" style="position:relative;top:80px;left:15px;" onclick="handleItemClick('Item 2')">
                        <img style="position:absolute;margin-top:px;left:-30px;"src="{% static '/src/assets/img/icon/instrument 1.svg' %}">
                        <p style="font-family:Montserrat; font-weight: 500;">Инструменты, аксесуары,<br> оборудование</p>
                    </div>
                </div>
                    <!-- Add more items as needed -->
                

                 
                <!-- Добавьте другие элементы по аналогии -->
                <div class="main_image"style=" ">
                <img class="main_image_img"src="{% static '/src/assets/img/icon/slaider 2.png' %}">
                 <div class="main_image_buttons">
                    <button class="main_image_button"></button>
                    <button class="main_image_button "></button>
                    <button class="main_image_button "></button>
                    <button class="main_image_button"></button>
                    <button class="main_image_button"></button>
                 </div>
                </div>
            </div>
                 
                <!-- Блок с кнопками "brends" -->
                <div class="brends" style=" ">
                    <button class="brend_main_button"style="  "> 
                    <img  class="brend_main_button_img" src="{% static '/src/assets/img/icon/logo-mixon.png' %}">
                </button>
                    <button class="brend_main_button" style=" ">
                <img class="brend_main_button_img" src="{% static '/src/assets/img/icon/Path 82.png' %}">
                    </button>
                    <button class="brend_main_button" style=" "> 
                        <img class="brend_main_button_img" src="{% static '/src/assets/img/icon/Logo_1.png' %}">
                    </button>
                    <button class="brend_main_button" style=" "> 
                        <img class="brend_main_button_img" src="{% static '/src/assets/img/icon/Logo_2.png' %}">
                    </button>
                    <button class="brend_main_button" style=""> 
                    <img class="brend_main_button_img" src="{% static '/src/assets/img/icon/logo-prodyver.png' %}">
                    </button>
                    <button class="brend_main_button" style="">Все бренды >></button>
                </div>

                 
                <!-- All Script JS Plugins here  -->
                <script src="{% static '/src/assets/js/vendor/popper.js' %}" defer="defer"></script>
                <script src="{% static '/src/assets/js/vendor/bootstrap.min.js' %}" defer="defer"></script>
                <script src="{% static '/src/assets/js/plugins/swiper-bundle.min.js' %}"></script>
                <script src="{% static '/src/assets/js/plugins/glightbox.min.js' %}"></script>
                <script>
                    function toggleDropdown() {
                        var dropdown = document.getElementById("myDropdown");
                        dropdown.style.display = (dropdown.style.display === "block") ? "none" : "block";
                    }

                    // Закрыть выпадающий список при клике вне него
                    window.onclick = function (event) {
                        if (!event.target.matches('.panel button')) {
                            var dropdowns = document.getElementsByClassName("dropdown");
                            for (var i = 0; i < dropdowns.length; i++) {
                                var openDropdown = dropdowns[i];
                                if (openDropdown.style.display === "block") {
                                    openDropdown.style.display = "none";
                                }
                            }
                        }
                    }
                </script>
                <!-- Customscript js -->
                <script src="{% static '/src/assets/js/script.js' %}"></script>

            </div>
        </section>
        <section class="product__section section--padding  pt-0">
            <div class="container">
                <div class="section__top--sellers">
                    <div class="section__heading d-flex justify-content-between mb-30 ">
                        <h2 class="section__heading--maintitle">Лидеры продаж</h2>
                        <a href="{% url 'catalogue' %}" class="d-flex justify-content-center text-nowrap">
                            <span class="section__heading--maintitle--text__secondary">Посмотреть все</span>
                            <span class="invisible">a</span>
                            <img src="{% static '/src/assets/img/icon/two_right_arrows_red.svg' %}"
                                 alt="two right arrows">
                        </a>
                    </div>
                    <div class="product__section--inner">
                        <div class="row row-md-reverse">
                            <div class="row">
                                {% for i in 'abc'|make_list %}
                                    <div class="col-lg-6 mb-7">
                                        {% include "product_block.html" %}
                                    </div>
                                {% endfor %}
                                <img class="col-lg-6 mb-7" src="{% static '/src/assets/img/logo/mixon_banner.png' %}"
                                     alt="mixon banner">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__newbies">
                    <div class="section__heading d-flex justify-content-between mb-30 ">
                        <h2 class="section__heading--maintitle">Новинки</h2>
                        <a href="{% url 'catalogue' %}" class="d-flex justify-content-center text-nowrap">
                            <span class="section__heading--maintitle--text__secondary">Посмотреть все</span>
                            <span class="invisible">a</span>
                            <img src="{% static '/src/assets/img/icon/two_right_arrows_red.svg' %}"
                                 alt="two right arrows">
                        </a>
                    </div>
                    <div class="product__section--inner">
                        <div class="row row-md-reverse">
                            <div class="row">
                                <img class="col-lg-6 mb-7"
                                     src="{% static '/src/assets/img/logo/mixon_kars_banner.png' %}"
                                     alt="mixon banner">
                                {% for i in 'abc'|make_list %}
                                    <div class="col-lg-6 mb-7">
                                        {% include "product_block.html" %}
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__recommended">
                    <div class="section__heading d-flex justify-content-between mb-30 ">
                        <h2 class="section__heading--maintitle">Рекомендуемые товары</h2>
                        <a href="{% url 'catalogue' %}" class="d-flex justify-content-center text-nowrap">
                            <span class="section__heading--maintitle--text__secondary">Посмотреть все</span>
                            <span class="invisible">a</span>
                            <img src="{% static '/src/assets/img/icon/two_right_arrows_red.svg' %}"
                                 alt="two right arrows">
                        </a>
                    </div>
                    <div class="product__section--inner">
                        <div class="row row-md-reverse">
                            <div class="row">

                                {% for i in 'abc'|make_list %}
                                    <div class="col-lg-6 mb-7">
                                        {% include "product_block.html" %}
                                    </div>
                                {% endfor %}
                                <img class="col-lg-6 mb-7"
                                     src="{% static '/src/assets/img/logo/mixon_kars_banner.png' %}"
                                     alt="mixon banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>{% include "footer.html" %}</footer>
</div>


</body>
</html>