{% extends "base.html" %}
{% load static %}


{% block title %}
    Новости
{% endblock %}


{% block content %}
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <ul class="breadcrumb__content--menu d-flex">
                    <li class="breadcrumb__content--menu__items">
                        <a href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="breadcrumb__content--menu__items">
                        <a href="{% url 'news_list' %}">Новости</a>
                    </li>
                </ul>
            </div>
            <div class="news_header">
                <div style="display:flex;justify-content:center;">
                    <a href="{% url 'news_list' %}" class="news-header-title text-center">Новости</a>
                </div>
                <div class="comparison_lists row">
                    {% for category in categories %}
                        <div class="news_header_button col-lg-5 col-md-6">
                            <a href="?category={{ category.slug|urlencode }}"
                               class="new_button {% if selected_category == category.slug %}active{% endif %}">
                                {% if category.image %}
                                    <img src="{{ category.image.url }}" alt="{{ category.name }}">
                                {% else %}
                                    <img src="{% static '/src/assets/img/icon/placeholder.svg' %}"
                                         alt="{{ category.name }}">
                                {% endif %}
                                <span class="news_buton_text">{{ category.name }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="comparison_lists row">
                {% for news_item in news %}
                    <div class="news_buttons col-lg-5 col-md-6">
                        <a class="big_news_buttons" href="{% url 'topic' news_item.slug %}">
                            <img style="width: 100%" src="{{ news_item.main_image.url }}"
                                 alt="{{ news_item.title|truncatechars:50 }}">
                            <span class="news_text">{{ news_item.title }}</span>
                        </a>
                    </div>
                    {% empty %}
                    <div class="col-lg-12">
                        <p>Новостей пока нет.</p>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination__area">
                <!-- Пагинация будет добавлена позже -->
            </div>
        </div>
    </section>
{% endblock %}
