{% load static %}

<div class="pagination__area">

    {% if products.has_next %}
        <div class="pagination refresh__page justify-content-center">
            <a class="pagination justify-content-center"
               id="load-more-btn"
               data-current-page="{{ products.number }}"
               data-url="{% url 'search' %}"
               data-query="{{ query|urlencode }}">
                <img src="{% static '/src/assets/img/icon/refresh_page__red.svg' %}"
                     alt="refresh page" class="me-3">
                Показать ещё
            </a>
        </div>
    {% endif %}

    <!-- ПАГІНАЦІЯ - відмальовуємо сторінки_to_display -->
    <div id="pagination-container">
        {% if num_pages > 1 %}
            <nav class="pagination justify-content-center">
                <ul class="pagination__wrapper d-flex align-items-center justify-content-center">
                    {% if products.has_previous %}
                        <li class="pagination__list">
                            <a href="?page=                                                                                                                                                                    
                                                        
                                    {{ products.previous_page_number }}{% if query %}&query={{ query }}{% endif %}"
                               class="pagination__item--arrow link">
                                <img src="{% static '/src/assets/img/icon/left_arrow.svg' %}"
                                     alt="left arrow">
                            </a>
                        </li>
                    {% endif %}

                    {% for p in pages_to_display %}
                        {% if p == '...' %}
                            <li class="pagination__list">
                                <span class="pagination__item">...</span>
                            </li>
                        {% elif p == products.number %}
                            <li class="pagination__list">
                                <span class="pagination__item pagination__item--current">{{ p }}</span>
                            </li>
                        {% else %}
                            <li class="pagination__list">
                                <a href="?page={{ p }}{% if query %}&query={{ query }}{% endif %}"
                                   class="pagination__item link">
                                    {{ p }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if products.has_next %}
                        <li class="pagination__list">
                            <a href="?page=                                                                                                                                                                                                                              
                                                        
                                    {{ products.next_page_number }}{% if query %}&query={{ query }}{% endif %}"
                               class="pagination__item--arrow link">
                                <img src="{% static '/src/assets/img/icon/right_arrow.svg' %}"
                                     alt="right arrow">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>