{% extends "product_block--standard.html" %}

{% block additional %}
    <div class="product__card--characteristics" style="display: none">
        <h3 class="mb-4">Характеристики</h3>
        <ul class="characteristics__list">
            <li>
                <ul class="characteristics__list--element">
                    <li>
                        Использование
                    </li>
                    <li>
                        Внутри помещений
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Связующее вещество
                    </li>
                    <li>
                        Сополимер
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Сухой остаток
                    </li>
                    <li>
                        10 %
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Плотность
                    </li>
                    <li>
                        1,05 кг/л
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Время высыхания, 23°С 50% RH
                    </li>
                    <li>
                        2-6 часов
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Расход готовой смеси
                    </li>
                    <li>
                        10-12 м2/л в 1 слой
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Разбавитель
                    </li>
                    <li>
                        Вода
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Рабочие инструменты
                    </li>
                    <li>
                        Валик, кисть
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Очистка рабочих инструментов
                    </li>
                    <li>
                        Вода
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Хранение
                    </li>
                    <li>
                        3 года t > 0оC
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
