{% extends "product_block--standard.html" %}

{% block additional %}
    <div class="product__card--characteristics" style="display: none">
        <h3 class="mb-4">Характеристики</h3>
        <ul class="characteristics__list">
            <li>
                <ul class="characteristics__list--element">
                    <li>
                        Использование
                    </li>
                    <li>
                        {{ product.usage }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Связующее вещество
                    </li>
                    <li>
                        {{ product.binding_substance }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Сухой остаток
                    </li>
                    <li>
                        {{ product.dry_residue }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Плотность
                    </li>
                    <li>
                        {{ product.density }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Время высыхания, 23°С 50% RH
                    </li>
                    <li>
                        {{ product.drying_time }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Расход готовой смеси
                    </li>
                    <li>
                        {{ product.consumption }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Разбавитель
                    </li>
                    <li>
                        {{ product.solvent }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Рабочие инструменты
                    </li>
                    <li>
                        {{ product.working_tools }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Очистка рабочих инструментов
                    </li>
                    <li>
                        {{ product.tool_cleaning }}
                    </li>
                </ul>
                <ul class="characteristics__list--element">
                    <li>
                        Хранение
                    </li>
                    <li>
                        {{ product.storage }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
