<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/src/assets/img/favicon.ico' %}">

    <!-- Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/src/assets/css/plugins/glightbox.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap"
          rel="stylesheet">

    <!-- Plugin css -->
    <link rel="stylesheet" href="{% static '/src/assets/css/vendor/bootstrap.min.css' %}">

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static '/src/assets/css/style.css' %}">
    <title></title>

</head>
<body>

<div class="body__wrapper">
    <header>{% include "header.html" %}</header>
    <main class="main__content_wrapper">
        <div class="description_product">
            <div style="width: 100%; height: 100%; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex;margin-left:60px;">
                <div style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">
                    Главная
                </div>
                <div style="width: 9.57px; height: 4.87px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px black solid"></div>
                <div><span
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">ЛКМ для </span><span
                        style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Строительства </span>
                </div>
                <div style="width: 9.57px; height: 4.87px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px black solid"></div>
                <div style="color: #787878; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">
                    Шпатлевка универсальная
                </div>
                <div style="width: 9.57px; height: 4.87px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px black solid"></div>
                <div style="color: #787878; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">
                    Шпатлевка универсальная 2 кг Mixon Uni
                </div>
            </div>
            <div style="color: black; font-size: 30px; font-family: Montserrat; font-weight: 500; word-wrap: break-word;margin-left:60px;">
                Шпатлевка универсальная 2 кг Mixon Uni
            </div>

            <div style="width: 100%; height: 100%; justify-content: flex-start; align-items: flex-start; gap: 9px; display: inline-flex;margin-left:60px;">
                <div style="width: 30.40px; height: 29.92px; background: #FFC107"></div>
                <div style="width: 30.40px; height: 29.92px; background: #FFC107"></div>
                <div style="width: 30.40px; height: 29.92px; background: #FFC107"></div>
                <div style="width: 30.40px; height: 29.92px; background: #FFC107"></div>
                <div style="width: 30.40px; height: 29.92px; background: #AEADAA"></div>
            </div>
            <div style="width: 100%; height: 100%; background: white; display: flex; margin-left:40px;">
                <button onclick="switchBlock_to_product_description()"
                        style="color: black; font-size: 18px; font-family: Montserrat; font-weight: 500; word-wrap: break-word; margin-left: 10px; border: none; background: none; cursor: pointer;">
                    Все о товаре
                </button>
                <button onclick="switchBlock_to_Characteristics()"
                        style="color: black; font-size: 18px; font-family: Montserrat; font-weight: 400; word-wrap: break-word; margin-left: 10px; border: none; background: none; cursor: pointer;">
                    Характеристики
                </button>
                <button onclick="switchBlock_to_Buy_too()"style="color: black; font-size: 18px; font-family: Montserrat; font-weight: 400; word-wrap: break-word; margin-left: 10px; border: none; background: none; cursor: pointer;">
                    Покупают вместе
                </button>
                <button onclick="" style="color: black; font-size: 18px; font-family: Montserrat; font-weight: 400; word-wrap: break-word; margin-left: 10px; border: none; background: none; cursor: pointer;">
                    Похожие товары
                </button>
                <button onclick="switchBlock_to_Reviev()" style="color: black; font-size: 18px; font-family: Montserrat; font-weight: 400; word-wrap: break-word; margin-left: 10px; border: none; background: none; cursor: pointer;">
                    Отзывы
                </button>
                <button onclick="switchBlock_to_avability()"style="color: black; font-size: 18px; font-family: Montserrat; font-weight: 400; word-wrap: break-word; margin-left: 10px; border: none; background: none; cursor: pointer;">
                    Наличие в магазинах
                </button>
            </div>

            <div class="Characteristics" style="position: relative;">
                <div class="t_block" style="border-style: solid;
                border-color: #FFFF00;width:400px;height:500px;margin-left:60px;">
                    <p style="font-size: 20px; font-weight: bold;">Характеристики</p>

                    <br>
                    <p>Использование..............................Внутри помещений</p>
                    
                    <p>Использование..............................Внутри помещений</p>
                    
                    <p>Использование..............................Внутри помещений</p>
                    
                    <p>Использование..............................Внутри помещений</p>
                    
                    <p>Использование..............................Внутри помещений</p>
                    
                    <p>Использование..............................Внутри помещений</p>
                    
                    <p>Использование..............................Внутри помещений</p>
                    
                    <p>Использование..............................Внутри помещений</p>
                    
                    <p>Использование..............................Внутри помещений</p>
                    
 </div>
 <div style="border-style: solid;
 border-color: #FFFF00;height:200px;width:1500px;margin-left:60px;">
  
 <p style="position:absolute;margin-left:90px;margin-top:15px;">Доставка</p>
    <svg style="border-style: solid;
    border-color: #FFFF00;height:49px;width:82px;margin-top:30px;"> </svg>
    <div style="border-style: solid;  
    border-color: #FFFF00;width:270px;height:80px;margin-left:80px;margin-top:-30px;"></div>
  
 
  
 <p style="position:absolute;margin-left:540px;margin-top:-110px;">Доставка</p>
    <svg style="border-style: solid;
    border-color: #FFFF00;height:49px;width:82px;margin-top:-170px;margin-left:450px;"> </svg>
    <div style="border-style: solid;  
    border-color: #FFFF00;width:270px;height:80px;margin-left:530px;margin-top:-105px;"></div>
    <p style="position:absolute;margin-left:990px;margin-top:-110px;">Доставка</p>
    <svg style="border-style: solid;
    border-color: #FFFF00;height:49px;width:82px;margin-top:-170px;margin-left:900px;"> </svg>
    <div style="border-style: solid;  
    border-color: #FFFF00;width:270px;height:80px;margin-left:980px;margin-top:-105px;"></div>

 </div>
                <div style="margin-left:350px;width:140px;height:1px;  margin-top:-550px;position: absolute;">
                    <div style=" ">
                        <div style="width: 100%; height: 100%; position: relative;">
                            <p style=" color: gray;
            text-decoration: line-through;
            font-size: 0.8em; /* Уменьшение размера текста */ margin-top:-50px;margin-left:500px; width:60px;height:15px;">
                                232.00 &#8372;</p>
                            <p style=" color: red;
            margin-top:40px;margin-left:500px; width:80px;height:30px;">232.00 &#8372;</p>
                            <img style="margin-top: 30px;position: absolute; top: -80px; left:650px; right: 0;"
                                 src="{% static '/src/assets/img/icon/shpatlevka-avtomobilnaya-mixon-uni-150 1.png' %}"
                                 alt="Slide 2">
                            <button style="position: absolute;margin-top:50px;border-radius: 5px;width: 40px; height:40px;border: 1px black solid;left: 720px;"></button>
                            <button style="position: absolute;margin-top:50px;border-radius: 5px;width: 40px; height:40px;border: 1px black solid;left: 670px;"></button>
                            <button style="position: absolute;width: 200px; height: 40px;background: white;border: 1px black solid;left: 620px;margin-top:99px;border-radius: 5px;">
                                Быстрый заказ
                            </button>
                            <button style="position: absolute;width: 160px; height: 40px;background: white;border: 1px black solid;left: 500px;margin-top:50px;border-radius: 5px;">
                                Хочу дешевле
                            </button>
                            <button style="position: absolute;width: 100px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;left: 500px;margin-top:100px;">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Buy_too" style="position: relative;"></div>
             <div class="Review" style="position: relative;flex-direction: row;display:flex;">
                <div class="f_block" style="border-style: solid;
                border-color: red;width:740px;height:100px;margin-left:60px;margin-bottom: 5px;margin-top:10px;">
                <p style="width: 85px; height: 25px; font-weight: bold;">Отзывы</p>

            </div>
                <div class="reviev_block" style="border-style: solid;
                border-color: #FFFF00;width:740px;height:200px;margin-left:60px;margin-bottom: 5px;">
                <div style="border-style: solid;
                border-color: #FFFF00; width:740px;height:50px;">
                </div>
                <div style="border-style: solid;
                border-color: red; width:740px;height:70px;">
                </div>
                <div style="border-style: solid;
                border-color: green; width:740px;height:30x;margin-top:5px;">
                asdasdasdas
                </div>
                <div style="border-style: solid;
                border-color: green; width:740px;height:30px;margin-top:10px;">
                asdasdsad
                </div>
            </div>
                <div class="reviev_block" style="border-style: solid;
                border-color: #FFFF00;width:740px;height:200px;margin-left:60px;margin-bottom: 5px;"></div>
                <div class="reviev_block" style="border-style: solid;
                border-color: #FFFF00;width:740px;height:200px;margin-left:60px;margin-bottom: 5px;"></div>
                <div class="reviev_block" style="border-style: solid;
                border-color: #FFFF00;width:740px;height:200px;margin-left:60px;margin-bottom: 5px;"></div>
                <div style="border-style: solid;
                border-color: #FFFF00;width:740px;height:30px;margin-left:60px;margin-bottom: 5px;"></div>
                <div class="revier" style="border-style: solid;
                border-color: #FFFF00;width:740px;height:400px;margin-left:60px;margin-bottom: 5px;">
            <div style="border-style: solid;
            border-color: #FFFF00;width:740px;height:80px;">
        </div>
        <div style="border-style: solid;
            border-color: #FFFF00;width:740px;height:150px;">
             
    <input type="text" id="name" name="name" style="display: block;  position:absolute;">

     
    <input type="text" id="pluses" name="pluses" style="display: block;margin-top:50px; position:absolute;">

     
    <input type="text" id="minuses" name="minuses" placeholder="Минусы" style="display: block  ;margin-left:200px;position:absolute;">

    
    <input type="text" id="phone" name="phone" style="display: block;margin-left:200px;margin-top:50px;position:absolute;">
        </div>
        <div style="border-style: solid;
            border-color: #FFFF00;width:740px;height:170px;">
        </div>
            
            
            
            
            
            </div>
                <div class="Sale_block" style="border-style: solid;
                border-color: #FFFF00;width:300px;height:150px;margin-left:800px;position:absolute;margin-top:-800px; margin-bottom: 5px;">
                <img style="weight:170px;height:170px;margin-left:130px;position: relative;"
                src="{% static '/src/assets/img/icon/shpatlevka-avtomobilnaya-mixon-uni-150 1.png' %}"
               >
               <div style="width:100px;height:50px;border-style: solid;
               border-color: #FFFF00;position:absolute;margin-top:-70px;">
               <p style="color: gray;
              text-decoration: line-through;
              font-size: 0.8em; /* Уменьшение размера текста */  width:80px;  ">232.00
                            &#8372;</p>
                            <p style=" color: red;
                            margin-top:-20px; width:80px;height:30px;">232.00 &#8372;</p>
             </div>

                 <div style="border-style: solid;
               border-color: #FFFF00;width:400px;height:40px;position:absolute;margin-top:10px;">
               <button style="position:absolute;width: 170px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;">
                Хочу дешевле
            </button>
            <button style="position:absolute;width: 40px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;margin-left:230px;">
                
            </button>
            <button style="position:absolute;width: 40px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;margin-left:180px;">
                
            </button>
            
             </div>
               <div style="border-style: solid;
               border-color: #FFFF00; margin-top:50px;width:400px;margin-top:55px;">
                <button style="width: 110px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;">
                    Купить
                </button>
                <button style="width: 200px; height: 40px; background-color: red; border-radius: 5px; background: white; border: 1px black solid; margin-left:30px; ">
                    Быстрый заказ
                </button>  
            </div>
        </div>
                <div>
                
            </div>
            <div style="border-style: solid;
 border-color: #FFFF00;height:200px;width:1500px;margin-left:60px;">
  
 <p style="position:absolute;margin-left:90px;margin-top:15px;">Доставка</p>
    <svg style="border-style: solid;
    border-color: #FFFF00;height:49px;width:82px;margin-top:30px;"> </svg>
    <div style="border-style: solid;  
    border-color: #FFFF00;width:270px;height:80px;margin-left:80px;margin-top:-30px;"></div>
  
 
  
 <p style="position:absolute;margin-left:540px;margin-top:-110px;">Доставка</p>
    <svg style="border-style: solid;
    border-color: #FFFF00;height:49px;width:82px;margin-top:-170px;margin-left:450px;"> </svg>
    <div style="border-style: solid;  
    border-color: #FFFF00;width:270px;height:80px;margin-left:530px;margin-top:-105px;"></div>
    <p style="position:absolute;margin-left:990px;margin-top:-110px;">Доставка</p>
    <svg style="border-style: solid;
    border-color: #FFFF00;height:49px;width:82px;margin-top:-170px;margin-left:900px;"> </svg>
    <div style="border-style: solid;  
    border-color: #FFFF00;width:270px;height:80px;margin-left:980px;margin-top:-105px;"></div>

 </div>
             </div>
             <div class="avability" style="position: relative;">
<div>
    Наличие
    <div style="border-style: solid;
    border-color: #FFFF00;height:2000px;">
<div style="border-style: solid;
border-color: #FFFF00;width:400px;height:150px;">
<div style="border-style: solid;
border-color:red; height:40px;">
<svg style="border-style: solid;border-color: #FFFF00;width:20px;height:20px;"></svg>
<p  style="border-style: solid;border-color: #FFFF00;width:50px;position:absolute; margin-top:-20px;"> asdasdasdfasdasdasdasdad </p>
</div>
<div style="border-style: solid;
border-color: #FFFF00;width:400px;height:150px;margin-top:300px;">
<div style="border-style: solid;
border-color:red; height:40px;position:relative;">
<svg style="border-style: solid;border-color: #FFFF00;width:20px;height:20px;"></svg>
<p  style="border-style: solid;border-color: #FFFF00;width:50px;position:absolute; margin-top:-20px;"> asdasdasdfasdasdasdasdad </p>
</div>

</div>
</div>
</div>
              
                
                <div class="Sale_block" style="border-style: solid;
                border-color: #FFFF00;width:300px;height:150px;margin-left:800px;position:absolute;margin-top: ; margin-bottom: 5px;">
                <img style="weight:170px;height:170px;margin-left:130px;position: relative;"
                src="{% static '/src/assets/img/icon/shpatlevka-avtomobilnaya-mixon-uni-150 1.png' %}"
               >
               <div style="width:100px;height:50px;border-style: solid;
               border-color: #FFFF00;position:absolute;margin-top:-70px;">
               <p style="color: gray;
              text-decoration: line-through;
              font-size: 0.8em; /* Уменьшение размера текста */  width:80px;  ">232.00
                            &#8372;</p>
                            <p style=" color: red;
                            margin-top:-20px; width:80px;height:30px;">232.00 &#8372;</p>
             </div>

                 <div style="border-style: solid;
               border-color: #FFFF00;width:400px;height:40px;position:absolute;margin-top:10px;">
               <button style="position:absolute;width: 170px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;">
                Хочу дешевле
            </button>
            <button style="position:absolute;width: 40px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;margin-left:230px;">
                
            </button>
            <button style="position:absolute;width: 40px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;margin-left:180px;">
                
            </button>
            
             </div>
               <div style="border-style: solid;
               border-color: #FFFF00; margin-top:50px;width:400px;margin-top:55px;">
                <button style="width: 110px; height: 40px;background-color:red;border-radius: 5px;background: white;border: 1px black solid;">
                    Купить
                </button>
                <button style="width: 200px; height: 40px; background-color: red; border-radius: 5px; background: white; border: 1px black solid; margin-left:30px; ">
                    Быстрый заказ
                </button>  
            </div>
        </div>
                <div>
                
            </div>
            </div>
            

                
             </div>
            <div class="product_description" >
                <div style="width:120px;height:1px; background:red;margin-left: 60px;"></div>
                 
                <button style="width: 20.48px; height: 18.67px;   position: absolute; border: 1px black solid;margin-left: 920px;"></button>
                <button style="width: 20.48px; height: 18.67px;position: absolute; background: white;border: 1px black solid; margin-left: 950px;"></button>
                <button style=" background-color: #FF0000;border-radius: 5px;width: 100px; height: 30px;position: absolute; background: white;border: 1px black solid; margin-left: 700px;margin-top:40px"></button>
                <button style="border-radius: 5px;width: 100px; height: 30px;position: absolute; background: white;border: 1px black solid; margin-left: 700px;margin-top:80px"></button>
                <button style="border-radius: 5px;width: 100px; height: 30px;position: absolute; background: white;border: 1px black solid; margin-left: 580px;margin-top:80px"></button>
                <div class="Availability" style="margin-left: 100px;height: 25px;margin-top: 10px;">
                    <div style="margin-left: 500px;">Есть в наличии</div>
                    <img src="путь_к_вашему_изображению.jpg" style="margin-left: 460px;margin-top:-30px; ">
                    <div style="    width: 160px; height: 30px;
            margin-left:480px;margin-top: 16px;">
                        232.00 &#8372
                        <p style="color: gray;
              text-decoration: line-through;
              font-size: 0.8em; /* Уменьшение размера текста */ margin-top:-26px;margin-left:64px; width:80px;  ">232.00
                            &#8372;</p>
                     
                  </div>
                  
                </div>
                <div class="slider-container" style="width: 300px; margin-left:80px;">
                    <div class="slider" style=" ">
                        <!-- Ваши слайды -->
                        <div class="slide" style="width: 450px;height: 160px;margin-top: -30px;margin-left:40px ;display: block;">

                            <img src="{% static '/src/assets/img/icon/shpatlevka-avtomobilnaya-mixon-uni-150 1.png' %}"
                                 alt="Slide 1" style="margin-top: -20px; height:400px;weight:400px;">
                            <!-- Дополнительный контент слайда -->
                        </div>
                        <div class="slide" style="width: 200px;height: 200px;margin-top: -60px;margin-left:50px; ">
                            <img src="{% static '/src/assets/img/icon/shpatlevka-avtomobilnaya-mixon-uni-150 1.png' %}"
                                 alt="Slide 2">
                            <!-- Дополнительный контент слайда -->
                        </div>
                        <!-- Добавьте другие слайды по необходимости -->

                    </div>

                    <div class="slide-buttons" style="display: flex; flex-direction: column; margin-left: -200px;">
                        <!-- Ваши кнопки слайдов с уменьшенными изображениями -->
                        <button data-slide-index="0"
                                style="display: flex; flex-direction: column; align-items: center;width: 70px;height: 70px;margin-top:30px;">
                            <img src="{% static '/src/assets/img/icon/shpatlevka-avtomobilnaya-mixon-uni-150 2.png' %}"
                                 alt="Thumb 1">
                        </button>
                        <button data-slide-index="1"
                                style="display: flex; flex-direction: column; align-items: center;width: 70px;height: 70px; margin-top:20px;">
                            <img src="{% static '/src/assets/img/icon/shpatlevka-avtomobilnaya-mixon-uni-150 2.png' %}"
                                 alt="Thumb 2">
                        </button>
                        <button data-slide-index="1"
                        style="display: flex; flex-direction: column; align-items: center;width: 70px;height: 70px; margin-top:20px;">
                    <img src="{% static '/src/assets/img/icon/shpatlevka-avtomobilnaya-mixon-uni-150 2.png' %}"
                         alt="Thumb 2">
                </button>
                        <!-- Добавьте другие кнопки по необходимости -->
                    </div>


                   
                </div>


                <div style="margin-left: 580px;width:40px; height: 20px; margin-top: -180px; ">
                    Упаковка:
                </div>

                <div style="margin: none;margin-right:600px;margin-left:600px;  border-width: 2px;         /* Толщина границы */
               height: 20px;witdth: 70px;margin-top:20px;">
                    <button class="button_0" style="width: 40px; height: 40px; margin: 0;">1л.</button>
                    <button class="button_1" style="width: 40px; height: 40px; margin: 0;margin-left:7px;">3л.</button>
                    <button class="button_2" style="width: 40px; height: 40px;margin: 0; margin-left:8px; ">10л.
                    </button>
                </div>
                <div style="margin-left: 600px;width:70px; height: 20px;order-width: 2px;         /* Толщина границы */
              margin-top:30px;">Цвет:
                </div>
                <div class="product_table" style="margin-left: 600px;width:300px; height: 200px;order-width: 2px;         /* Толщина границы */
              border-style: solid;
              border-color: #FF0000;margin-top:20px; ">

                    <div style="
              border-style: solid;
              border-color: #0000FF;margin-top: 1px; background-color:gray; height:30px;">
                       <div style="margin-left:30px;position:absolute;"> Артикул</div>
                       <div  style="margin-left:100px;position:absolute;"> Название цвета</div>
                       <div   style="margin-left:220px;position:absolute;"> Кол-во</div>
                    </div>
               
                    <div style="border-style: solid;
            border-color: #FFFF00; width:300px; height: 30px;margin-right:100px;margin-left: px;">
            <button style="border-style: solid;
            border-color: #0000FF;height:20px;width: 20px;"></button>
                        MA603BAL &nbsp; Хаки-603
                    
                         
                     
                        <div style="
                        margin-top:-25px;
                        margin-left:190px;
              width: 20px;            /* Ширина элипса */
              height: 20px;            /* Высота элипса */
              border-radius: 50%;      /* Задает радиус границы, делая форму элиптической */
              background-color: red;   /* Красный цвет фона */
              position:absolute;
            "> 
            
                  
                </div>
                <div style="margin-left:240px;margin-top:-30px;">
                0
                </div>
                <div class="delivery" style="border-style: solid;
            border-color: #00FF00; width:400px; height: 180px; margin-left:505px; ">
                    Доставка в Хмельницики
                    <div style="border-style: solid;
                  border-color:#0000FF;margin-top:10px;">Самовывоз из магазина
                    </div>
                    <div style="border-style: solid;
                  border-color: #0000FF;margin-top:15px;">Самовывоз из отделения
                    </div>
                    <div style="border-style: solid;
                  border-color: #0000FF;margin-top:20px;">Доставка до квартиры
                    </div>
                </div>
            </div>
        </div>
    </div>
                 
<div>
                    <p style="font-size: 20px;font-weight: bold;  ">Этот текст будет жирным и увеличенным.</p>
                    
</div>
            </div>
        </div>
    </div>
</div>
    </main>
    <footer>{% include "footer.html" %}</footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Показать первый слайд при загрузке страницы
        $(".slide.active").show();

        $(".slide-buttons button").click(function () {
            var index = $(this).data("slide-index");
            $(".slide").hide();
            $(".slide").eq(index).show();
        });
    });

     
    function switchBlock_to_product_description() {
        document.querySelector('.product_description').style.display = 'block';
        document.querySelector('.Characteristics').style.display = 'none';
        document.querySelector('.Buy_too').style.display = 'none';
        document.querySelector('.Review').style.display = 'none';
        document.querySelector('.avability').style.display = 'none';
    }

    function switchBlock_to_Characteristics() {
        document.querySelector('.Characteristics').style.display = 'block';
        document.querySelector('.product_description').style.display = 'none';
        document.querySelector('.Buy_too').style.display = 'none';
        document.querySelector('.Review').style.display = 'none';
        document.querySelector('.avability').style.display = 'none';
    }
    function switchBlock_to_Buy_too() {
        document.querySelector('.Characteristics').style.display = 'none';
        document.querySelector('.product_description').style.display = 'none';
        document.querySelector('.Buy_too').style.display = 'block';
        document.querySelector('.Review').style.display = 'none';
        document.querySelector('.avability').style.display = 'none';
    }
    function switchBlock_to_Reviev() {
        document.querySelector('.Characteristics').style.display = 'none';
        document.querySelector('.product_description').style.display = 'none';
        document.querySelector('.Buy_too').style.display = 'none';
        document.querySelector('.Review').style.display = 'block';
        document.querySelector('.avability').style.display = 'none';
    }
    function switchBlock_to_avability() {
        document.querySelector('.Characteristics').style.display = 'none';
        document.querySelector('.product_description').style.display = 'none';
        document.querySelector('.Buy_too').style.display = 'none';
        document.querySelector('.Review').style.display = 'none';
        document.querySelector('.avability').style.display = 'block';
    }

    // Добавьте аналогичные функции для других кнопок, если необходимо

    // По умолчанию активируем блок "Все о товаре" (product_description)
    switchBlock_to_product_description();
</script>
</html>
