{% extends "base.html" %}
{% load static %}


{% block title %}
    ЛКМ для Строительства
{% endblock %}


{% block content %}
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="breadcrumb__content text-center slider-container">
                <ul class="breadcrumb__content--menu d-flex slider">
                    <li class="breadcrumb__content--menu__items">
                        <a href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="breadcrumb__content--menu__items">
                        Поиск
                    </li>
                </ul>
            </div>
            <h2 class="breadcrumb__content--title">
                {% if query %}
                    {{ query }}
                {% else %}
                {% endif %}
            </h2>
        </div>
    </section>
    <section class="product__section section--padding pt-0 bg__off_white">
        <div class="container">
            <div class="row product__list br-row_3">
                {% load custom_tags %}

                {% if products %}
                    <div id="products-container" class="row px-0">
                        {% include 'products_partial.html' %}
                    </div>
                    <!-- Кнопка "Показать ещё", якщо є наступна сторінка -->
                    {% include 'pagination.html' %}

                {% else %}
                    <p>Нет результатов{% if query %} для "{{ query }}"{% endif %}</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static '/src/assets/js/slider.js' %}"></script>
    <script src="{% static '/src/assets/js/breadcrumbSliderSetWidth.js' %}"></script>
    <script src="{% static '/src/assets/js/layoutButtonsToggle.js' %}"></script>
    <script src="{% static '/src/assets/js/sortButtonsToggle.js' %}"></script>
    <script src="{% static '/src/assets/js/widgetBlockCollapse.js' %}"></script>
    <script src="{% static '/src/assets/js/oneOptionCheckInput.js' %}"></script>
    <script src="{% static '/src/assets/js/pagination.js' %}"></script>
{% endblock %}
